@import url('https://fonts.googleapis.com/css?family=Arvo&display=swap');

h2{    display: block;
       font-family: 'Arvo', serif;
       color: #360a70cc;
       font-size: 40px;
       font-weight: 1000;
       
     }
     ul {
       font-family: 'Arvo', serif;
     }
     .container {
       background-image: url('/app/static/photos/timebg.jpg');
     }
     a{        display: block;
               font-family:  'Arvo', serif;
               color: #360a70cc;
               font-size: 20px;
               font-weight: 1000;
               text-align: center;
     }