{% extends 'base.html'%}
{% import 'macros.html' as macro%}

{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}
<style>

</style>

{% block content %}

<title> {{ title }} </title>

<div class="container">

    <div class="row">
        <h2 class="pitch-header">
            One Minute Pitches
        </h2>

    </div>
    <br><br><br>
    <div class="row">

        <div class="col-md-4 col-lg-4">
            <h2 class="pitch-create">
                <a href="/pitch/new">
                    Create New Pitch
                </a>
            </h2>

        </div>

    </div>
    <hr>

    <ul class="list-unstyled">

        {{ macro.displayPitchList(pitches) }}
        <a href="/pitch_review/{{pitches.id}}?like=1">Like: {{pitches.like}}</a>
        <a href="/pitch_review/{{pitches.id}}?dislike=1">Dislike: {{pitches.dislike}}</a>
    </ul>

    <ul class="list-unstyled">
        {{ macro.displayCommentList(comments) }}
    </ul>



    <hr>


</div>


{% endblock %}